extends layout 
block content
    header
        section(style= "display: flex")
            h1= title 
            nav(class='navbar' style='display: flex')
                span Want to become a member?
                    a(href="/users/member/new") Be a Member!
                span An admin?
                    a(href="/users/admin") Click Here!
        section 
            if user
                p Welcome #{user.username}
        
        if messages
        section.messages-container
            each message in messages 
                section.message
                    h2 #{message.title}
                    p #{message.time_formatted}